<article id="COMPONENT_Home">
  <div class="home-background">
    <div class="home-background-gradient">
      <div class="container home-background-content">
        <div class="row">
          <div class="col-xs-3">

            <span class="dollars">$</span><span class="value">0</span> <span class="terms">30-DAY FREE TRIAL</span>

            <hr>
            <h3><i class="fa fa-check"></i> FREE PHONES</h3>
            <h3><i class="fa fa-check"></i> FREE SHIPPING</h3>
            <h3><i class="fa fa-check"></i> FREE SETUP*</h3>
            <br>
            <br>
            <a class="btn btn-blue" ui-sref="catalog">BUY NOW</a>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="home-blue-bar">
    <div class="container text-center">
      RELIABLE PHONE SERVICE. SAVE THOUSANDS.
    </div>
  </div>
  <div class="container get-pricing-section text-center">
    <h3>Get the perfect internet phone system solution for your small business.</h3>
    <p>
      Your reputation is on the line. You can't sacrifice reliability but you're tired of overpriced
      phone service. For less than your daily coffee, up your phone game.
    </p>
    <p>
      Join over a quarter million small businesses who already trust magicJack.
    </p>
    <p>
      Love it or your mony back -- guaranteed*
    </p>
    <br>
    <br>
    <a ui-sref="catalog" class="btn btn-purple">GET PRICING</a>
  </div>

</article>
