<article id="COMPONENT_Home">
  <div class="home-background">
    <div class="home-background-gradient">
      <div class="container home-background-content">
        <div class="row">
          <div class="col-xs-3">

            <span class="dollars">$</span><span class="value">0</span> <span class="terms">30-DAY FREE TRIAL</span>

            <hr>
            <h3><i class="fa fa-check"></i> FREE PHONES</h3>
            <h3><i class="fa fa-check"></i> FREE SHIPPING</h3>
            <h3><i class="fa fa-check"></i> FREE SETUP*</h3>
            <br>
            <br>
            <a class="btn btn-blue" href="#">BUY NOW</a>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="home-blue-bar">
    <div class="container text-center">
      RELIABLE PHONE SERVICE. SAVE THOUSANDS.
    </div>
  </div>

</article>
